body {
	background-color: #0175a2cc;
	font-family: 'Patua One', serif;
	color: rgb(72, 66, 66);
}

h2 {
   padding-bottom: 10px;
}

li {
	font-family: 'Roboto Slab', serif;
}

.header {
	margin: auto;
	text-align: center;
}

.logo {
	margin: auto;
	height: 30%;
}

.title {
	color: #f8f9fa;
	font-size: 3em;
	padding-bottom: .5em;
}

.navbar-light .navbar-brand {
    color: rgb(72, 66, 66);
}

#nav-img {
	height: 2em;
}

.section {
    background-color: #f8f9fa;
    padding: 2%;
    border-radius: 10px;
    margin-top: 30px;
}


.section p {
	font-family: 'Roboto Slab', serif;
}

.centered {
	text-align: center; 
}

span.first-word {
	font-size: 1.3em;
	font-weight: 700;
}

.image-left {
    width: 7em;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}

.image-small {
	width: 10em;
	margin: auto;
	display: block;
	margin-bottom: 15px;
}

.icon-left {
    float: left;
    font-size: 6em;
    margin: 10px 20px 0px 10px;
}

.contact {
	text-align:center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.contact-button {
	padding-left: 1em;
	padding-right: 1em;
	color: #f8f9fa;
	font-size: 3em;
}

.work-row-1 {
	margin-bottom: -15px;
}

.work-1 {
	font-weight: bold;
	font-size: 1.2em;
}

.work-3 {
	font-style: italic;
}

.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
    border: 3px solid black;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

