body {
	/*background-color: #00b8ff;*/
	background-color: #00b8ff80;
	font-family: 'Patua One', serif;
	color: rgb(72, 66, 66);
}

.header {
	margin: auto;
	text-align: center;
}

.logo {
	margin: auto;
	height: 30%;
}

.title {
	color: #f8f9fa;
	font-size: 3em;
	padding-bottom: .5em;
}

.navbar-light .navbar-brand {
    color: rgb(72, 66, 66);
}

#nav-img {
	height: 2em;
}

.section {
    background-color: #f8f9fa;
    padding: 2%;
    border-radius: 10px;
    margin-top: 30px;
}


.section p {
	font-family: 'Roboto Slab', serif;
}

#profile {
    width: 7em;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}